.banner {
  background: #FDC830;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}

.search-input {
  border: solid 3px #F2881B;
  border-radius: 20px;
  display: flex;
}
.search-input input {
  width: 93%;
}


.nav-icons > p{
  position: relative;
  display: inline-block;
  width: 50px;
    height: 50px;
    line-height: 50px;
    background: #f3f5f9;
    margin-left: 20px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-icons  p span {
  position: absolute;
  top: -10px;
  right: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: #F2881B;
  font-size: 12px;
  color: #fff
}

.first-slide ul li {
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
}
.first-slide  ul li button {
  background: transparent !important;
  color: #F2881B !important;
}

.first-slide  ul li button::before {
  font-size: 15px !important;
  color: white !important;
  position: absolute;
  top: 2px;
  left: 0;
  margin: auto;
}






.homeSlide ul,.first-slide ul {
  position: absolute;
  bottom: 20px;
}
.homeSlide ul li {
  border: 2px solid #b8b7b7;
  border-radius: 50%;
  padding: 10px;
}
.homeSlide ul li button {
  background: transparent !important;
  color: transparent !important;
}

.homeSlide ul li button::before {
  font-size: 15px !important;
  color: black;
  position: absolute;
  top: 2px;
  left: 0;
  margin: auto;
}



.slick-active button::before{
  color : #F2881B !important;
}

.slick-arrow::before {
  color : #F2881B !important;
  font-size: 30px !important;
  
}
.slick-prev{
  position: absolute !important;
  left: -40px !important;

}



.product-detail-container {
  display: flex;
  gap: 40px;
  margin: 40px;
  margin-top: 60px;
  color: #000000;
}

.product-detail-image {
  border-radius: 15px;
  background-color: #ebebeb;
  width: 400px;
  height: 400px;
  padding: 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.product-detail-image:hover {
  background-color: #F2881B;
}
.small-images-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.small-image {
  border-radius: 8px;
  background-color: #ebebeb;
  padding: 10px;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.selected-image {
  background-color: #F2881B;
}

.cart {
  position: absolute;
  right: 0rem;
  top: 4rem;  
  width: 25rem;
  max-height: 30rem;
}

.menuDetails {
  position: absolute;
  width: 28rem;
  height: 20rem;
  top : 3rem;
  left: 16rem;
  background: white;
  border-top: solid 2px #F2881B;
}

::-webkit-scrollbar {
  width: 10px;
}


 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #F2881B; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F2881B; 
}